/* CSS GENERAL */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

header {
  min-height: 70px;
  max-height: 70px;
}

/*********** CSS PARA EL INDEX ***********/
.fondo-index {
  height: calc(100vh - 60vh);
  min-height: 350px;
  width: 100vw;

  background-image: url(recursos/fondo-home.png);
  background-repeat: repeat-x;
}

.titulo-index {
  font-size: 5.5rem;
}

.subtitulo-index {
  margin-top: -20px;
}

@media (max-width: 576px) {
  .fondo-index {
    background-size: cover;
  }
}

/*********** FILTROS ***********/

.table > :not(caption) > * > * {
  border-bottom-width: 0;
}

.restaurantes {
  font-size: 12px;
}

.platos-pedidos {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
}

.tabla-descripcion td {
  padding: 1em 0;
}

.footer-ticket {
  min-height: 250px;
  background-image: url(recursos/fondo-home.png);
  background-size: 450px;
}

.card {
  border-image: url("recursos/linea-separadora.png") 0 0 100% 0 stretch;
  border-image-width: 0 0 3px 0; /* ajusta el valor para el ancho de la parte central */
}
