<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../styles.css">
    <link rel="stylesheet" href="calendario.css">

    <title>Calenadrio</title>
</head>

<body>
    <section id="contenedor">
        <div id="calendario"></div>
        <button id='arriba' class="botones"><svg width="24" height="24" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M4.284 10.296A1 1 0 0 0 5.709 11.7L11 6.33V20a1 1 0 1 0 2 0V6.336l5.285 5.364a1 1 0 0 0 1.425-1.404l-6.823-6.924a1.25 1.25 0 0 0-1.78 0l-6.823 6.924Z"
                    fill="#ffffff" />
            </svg></button>
        <button id='abajo' class="botones"><svg width="24" height="24" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M19.716 13.704a1 1 0 1 0-1.425-1.403L13 17.67V4a1 1 0 0 0-2 0v13.665L5.715 12.3a1 1 0 0 0-1.425 1.403l6.823 6.925a1.25 1.25 0 0 0 1.78 0l6.823-6.925Z"
                    fill="#ffffff" />
            </svg></button>
    </section>

    <script src="calendario.js"></script>
</body>

</html>